//resets
@import './resets';
@import './variables';

//functions
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

//light-theme
@mixin theme($light-theme: true) {
    @if $light-theme {
        background:lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

//media query
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background-color: $primary-color;
    color: $text-color;
    
}

.main {
    width: 80%;
    margin: 0 auto;
    @include flexCenter(row);
    width: 80% - 40%; //in scss the types have to be the similar unlike in css where something like 80% - 400px is permisible

    //intrapolation
    #{&}-paragraph1 {
    //   font-weight: map-get($font-weights, bold); 
    font-weight: weight(regular);
      
      &:hover {
        color: pink;
      }
    }

    #{&}-paragraph2 {
        @extend .main-paragraph1;

        &:hover {
            color: $accent-color;
        }
    }

    @include mobile{
        flex-direction: column;
    }
}

.light {
    @include theme($light-theme: true);
}